.panel.panel-primary {
    background: #337AB7;
}

.panel.panel-green {
    background: #5cb85c;
}

.panel.panel-blue-light {
    background: #00bfff;
}
.panel-blue-light {
    border-color: #0099cc;
}
.panel-blue-light > .panel-heading {
    border-color: #0099cc;
    color: white;
    background-color: #0099cc;
}
.panel-blue-light > a {
    color: #0099cc;
}
#page-wrapper {
    padding-top: 40px;
}

#city-map-panel #city-map{
    overflow: hidden;
    position: relative;
    max-height: 600px;
}
#city-map-panel #city-map #city-map-svg{
    background: #fff;
    vertical-align:top;
    margin: 0;
    padding: 0;
}
#city-map-panel .panel-body{
    padding: 0;
}